[Unit]
Description=Weekly timer for Podman image cleanup

[Timer]
# Every Sunday at 04:00 in the morning (after the backups)
OnCalendar=Sun *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
